<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="testMapper">  
  <select id="selectBbs">
    SELECT
      *
    FROM
      BBS
  </select>

  <insert id="insertBbs">
    INSERT INTO BBS(TITLE, COMENT, regdate, userName) 
    VALUES (#{title}, #{coment}, #{regdate}, #{username})
  </insert>

  <delete id="deleteBbs">
    DELETE FROM BBS WHERE userName=#{deleteInput}
  </delete>
</mapper>